/* Full height for body and html to allow scrolling */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Allow scrolling */
}

/* Page container with full scroll support */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure the container at least fills the viewport */
  padding: 2vw;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scrolling */
  width: 100%; /* Full width */
}


/* Ensure the celestial background is fixed */
.sun-moon-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

/* Hide scrollbar while keeping scroll functionality */
.page-container::-webkit-scrollbar, .editor-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.page-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
/* Ensure the celestial background is fixed and does not scroll */
.sun-moon-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Place it behind content */
  overflow: hidden; /* Prevent the background from scrolling */
}

/* Center the h1 title */
.h1, .content-title {
  font-size: 2.5rem;
  color: white;

  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Center the input field */
.input-field {
  width: 80vw; /* Use relative units for width */
  max-width: 500px; /* Limit the maximum width */
  margin-bottom: 2vw; /* Add space below the input field */
}

/* Center the Quill editor */
.quill-editor {
  width: 90vw; /* Use relative units for width */
  max-width: 1000px; /* Limit the maximum width */
  margin-bottom: 2vw;
  box-sizing: border-box; /* Ensure padding and border are accounted for */
}

.button-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space out buttons */
  margin-top: 2vw; /* Space above the button container */
}


.dropdown-button.ready {
  background-color: green;  /* Ready records with green background */
  color: white; /* Optional: Adjust text color for better readability */
}

.dropdown-button.in-progress {
  background-color: rgb(161, 117, 35);  /* In-progress records with yellow background */
  color: black; /* Optional: Adjust text color for better readability */
}

.sign-out-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 80px; /* Adjust this value based on the height of your header */
  right: 27px; /* Adjust this value based on your preference */
  z-index: 1005; /* Ensure it appears above other elements */
}

.clear-button{
  background-color: rgb(50, 148, 151);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.clear-button:hover {
  background-color: #83b830; /* Gray on hover */
  transform: translateY(-0.3vw); /* Slight lift */
}

.edit-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-button:hover {
  background-color: #4a4b4d; /* Gray on hover */
  transform: translateY(-0.3vw); /* Slight lift */
}

.submit-button {
  background-color:green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #4a4b4d; /* Gray on hover */
  transform: translateY(-0.3vw); /* Slight lift */
}

/* Delete Button */
.delete-button {
  background-color: rgb(129, 14, 14);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #4a4b4d; /* Gray on hover */
  transform: translateY(-0.3vw); /* Slight lift */
}


.sign-out-button:hover {
  background-color: #4a4b4d; /* Gray on hover */
  transform: translateY(-0.3vw); /* Slight lift */
}

/* Dropdown style for Saved Records */
.record-list {
  list-style: none;
  padding: 0;
  margin: 2vw 0;
}

.record-item {
  margin-bottom: 1vw;
}

.dropdown-button {
  width: 100%;
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 1vw 1.5vw;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5vw;
  text-align: left;
  transition: background-color 0.3s ease;
}

.dropdown-button:hover {
  background-color: #eb8585;
}

/* Last Updated Span */
.last-updated {
  font-weight: normal;
  font-size: 0.9em;
  color: #ccc;
  margin-left: 1vw;
}

/* Adjust button styles inside the dropdown */
.record-item .edit-button, .record-item .delete-button {
  margin-right: 1vw;
}

/* Restricted Page */
.restricted-page {
  text-align: center;
  margin-top: 50px;
}

.restricted-page h2 {
  color: red;
  font-size: 2rem;
}

.restricted-page p {
  font-size: 1.2rem;
  color: #555;
}


/* Parent container (page-container) to center content vertically and horizontally */
.page-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Full viewport height */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

legend {
  display: block;
  unicode-bidi: isolate;
  padding-inline: 2px;
  color: rgb(209, 104, 19);
}

label {
  cursor: default;
  color: rgb(209, 104, 19);
}

/* Center the Amplify tabs within the page */
/* Center the Amplify tabs within the page */
.amplify-tabs {
  background-color: #3a3f46;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px; /* Rounded corners */
  transition: background-color 0.3s ease;
  margin: 0 auto; /* Center horizontally */
  margin-top: 50px;
  width: 100%;
  max-width: 350px; /* Limit width for larger screens */
  padding: 20px; /* Padding for spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center; /* Center-align text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Individual Tab Button Styling */
.amplify-tabs button {
  background-color: #0d6efd; /* Button background color */
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease;
  margin: 5px 0; /* Spacing between buttons */
  width: 100%; /* Full width for buttons */
  display: flex;
  align-items: center;
  justify-content: center;
}

.amplify-tabs button:hover {
  background-color: #bbab1f; /* Darker color on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

.amplify-tabs button[aria-selected="true"] {
  background-color: #147511; /* Active tab styling */
  color: white;
}

/* Sign-In Button in Amplify */
.amplify-tabs-sign-in {
  background-color: #a13030;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Spacing between buttons */
  width: 100%; /* Full width */
  text-align: center;
}

/* Container to center Amplify content */
.center-amplify-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); /* Full viewport height minus header space */
  padding: 20px;
  box-sizing: border-box;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .amplify-tabs {
    width: 90%; /* Responsive width for smaller screens */
    max-width: 350px; /* Limit the width on larger screens */
    padding: 20px; /* Padding for inner spacing */
    margin-top:50px; /* Center horizontally and vertically if possible */
    border-radius: 15px; /* More rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    box-sizing: border-box;
  }
  

  .amplify-tabs button {
    padding: 10px; /* Increase padding for better usability */
    font-size: 1rem;
  }
}

